<!--Page contains information about current user-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project2 User</title>
    <link rel="shortcut icon" href="/assets/img/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
    <nav><a href="/login"></a>
        <div class="navlink"><a href="/logout">Log out</a></div>
    </nav>

    <section id="preview">

    </section>

    <div id="menu">
        <div class="link"><a id="inventoryButton" href="/inventory">Inventory</a></div>
        <div class="link"><a id="storeButton" href="/store">Store</a></div>
        <section id="items">

        </section>
    </div>

    <button id="game"><a href="/game">Join game</a></button>
</body>
</html>